[submodule "libs/Unity"]
	path = libs/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	shallow = true
[submodule "libs/flanterm"]
	path = libs/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
	shallow = true
[submodule "libs/limine"]
	path = libs/limine
	url = https://github.com/Limine-Bootloader/Limine
	branch = v11.x-binary
	shallow = true
[submodule "libs/limine-protocol"]
	path = libs/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol
	shallow = true
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
	shallow = true
[submodule "libs/PureDOOM"]
	path = libs/PureDOOM
	url = https://github.com/Daivuk/PureDOOM
