[submodule "libs/Unity"]
	path = libs/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	shallow = true
[submodule "libs/flanterm"]
	path = libs/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
	shallow = true
[submodule "libs/limine"]
	path = libs/limine
	url = https://codeberg.org/Limine/Limine
	branch = v10.x-binary
	shallow = true
[submodule "libs/limine-protocol"]
	path = libs/limine-protocol
	url = https://codeberg.org/Limine/limine-protocol
	shallow = true
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
	shallow = true
